@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

i , .noteItem{
    cursor: pointer;
}

.fontMain{
    font-family: 'Alegreya', serif;
}

body{
    background-color: #eef2e4;
}

.i-color-wh{
    color: white;
}

/*  */


@keyframes ldio-9u8gbddmqad {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-9u8gbddmqad div {
    left: 75.64999999999999px;
    top: 20.4px;
    position: absolute;
    animation: ldio-9u8gbddmqad linear 1.4492753623188404s infinite;
    background: #85a2b6;
    width: 18.7px;
    height: 47.6px;
    border-radius: 3.8080000000000003px / 3.8080000000000003px;
    transform-origin: 9.35px 64.6px;
  }.ldio-9u8gbddmqad div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.3833992094861658s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(2) {
    transform: rotate(16.363636363636363deg);
    animation-delay: -1.3175230566534912s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(3) {
    transform: rotate(32.72727272727273deg);
    animation-delay: -1.2516469038208167s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(4) {
    transform: rotate(49.09090909090909deg);
    animation-delay: -1.185770750988142s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(5) {
    transform: rotate(65.45454545454545deg);
    animation-delay: -1.1198945981554675s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(6) {
    transform: rotate(81.81818181818181deg);
    animation-delay: -1.054018445322793s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(7) {
    transform: rotate(98.18181818181819deg);
    animation-delay: -0.9881422924901185s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(8) {
    transform: rotate(114.54545454545455deg);
    animation-delay: -0.9222661396574439s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(9) {
    transform: rotate(130.9090909090909deg);
    animation-delay: -0.8563899868247693s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(10) {
    transform: rotate(147.27272727272728deg);
    animation-delay: -0.7905138339920947s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(11) {
    transform: rotate(163.63636363636363deg);
    animation-delay: -0.7246376811594202s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(12) {
    transform: rotate(180deg);
    animation-delay: -0.6587615283267456s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(13) {
    transform: rotate(196.36363636363637deg);
    animation-delay: -0.592885375494071s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(14) {
    transform: rotate(212.72727272727272deg);
    animation-delay: -0.5270092226613965s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(15) {
    transform: rotate(229.0909090909091deg);
    animation-delay: -0.46113306982872193s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(16) {
    transform: rotate(245.45454545454547deg);
    animation-delay: -0.39525691699604737s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(17) {
    transform: rotate(261.8181818181818deg);
    animation-delay: -0.3293807641633728s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(18) {
    transform: rotate(278.1818181818182deg);
    animation-delay: -0.26350461133069825s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(19) {
    transform: rotate(294.54545454545456deg);
    animation-delay: -0.19762845849802368s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(20) {
    transform: rotate(310.90909090909093deg);
    animation-delay: -0.13175230566534912s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(21) {
    transform: rotate(327.27272727272725deg);
    animation-delay: -0.06587615283267456s;
    background: #85a2b6;
  }.ldio-9u8gbddmqad div:nth-child(22) {
    transform: rotate(343.6363636363636deg);
    animation-delay: 0s;
    background: #85a2b6;
  }
  .loadingio-spinner-spinner-d5vda8qm7j5 {
    width: 170px;
    height: 170px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-9u8gbddmqad {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-9u8gbddmqad div { box-sizing: content-box; }
  